.card {
  min-height: 200px;
  /* background-color: blueviolet; */
  padding: 0 2rem;
}

.announcement {
  background-color: #444;
  color: #fff;
  width: 100vw;
  padding: 0.75rem;
  text-align: center;
  letter-spacing: 1px;
}
.announcement a {
  color: white;
}
.announcement a:hover {
  opacity: 0.9;
}
.scrollTop {
  position: fixed;
  z-index: 998;
  bottom: 2rem;
  right: 2rem;
  transition: 0.5s;
  outline: none;
}
.scrollTop:hover {
  opacity: 0.5;
}

.nav {
  position: fixed;
  z-index: 999;
}

.nav__box {
  width: 100%;
  position: relative;
}
.nav__btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5rem;
  min-width: 5rem;
  border-radius: 0.5rem;
  text-align: center;
}
.nav__cart {
  position: absolute;
  margin-right: 2rem;
  right: 0;
}

.nav__btn__link {
  color: #444;
  text-decoration: none;
  transition: 0.25s;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav__btn__link:hover,
.nav__btn__link:focus {
  color: #999;
  opacity: 0.9;
}

.displayNone {
  display: none;
}
