ul {
    display: flex;
    flex-wrap: wrap;
  }
  h4 {
    margin: 0;
    font-weight: normal;
    font-size: 0.9rem;
  }
  span {
    margin: 0;
    font-size: 0.75rem;
  }
  
  button {
    margin-top: 0.25rem;
  }
  
  input {
    margin: 0 1rem 0 0.25rem;
  }
  
  .banner {
    max-width: 100%;
    margin: 1rem 0;
  }
  
  .products {
    padding: 1rem 2rem;
    width: 100%;
  }
  .card {
    /* display: flex;
    flex-direction: column; */
    margin: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
    flex: 30%;
  }
  .card img:hover,
  .card img:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #999999;
  }
  .card img {
    max-width: 25vw;
    transition: 0.25s;
  }
  .card__title {
    color: #444;
    margin-bottom: 0.25rem;
    transition: 0.25s;
    letter-spacing: 0.5px;
  }
  
  .card__title:hover,
  .card__title:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #999999;
  }
  
  .card__price {
    text-decoration: line-through;
    margin-right: 1rem;
  }
  
  .card__promotePrice {
    color: rgb(192, 0, 0);
  }
  